private_owm_key.txt
private_telegram_key.txt
private_api_ninjas_key.txt
legacy/legacy_error.logs
/private_keys
/logs
.venv

__pycache__

# IDE Folders
/.buildpath
/.project
/.settings
/.idea
/.vscode
/.run

# OS Folders
.DS_Store
.idea
